body {
    color: white;
    background-color: rgb(29, 19, 19);
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
align-items: center;
padding: 16px;



}

a {
color: bisque;
text-decoration: none;
}

header img{
    width: 250px;
    height: 400px;
    border-radius: 40%;
    border: 5px solid purple;
}

.center {
text-align: center;
}

header h1, header h2 {
    text-align: center;
}
header h3,p {
        text-align: center;
        color: red;
       
}




footer img{
 width: 250px;
height: 350px;
border-radius: 40%;
border: 5px solid purple;
}

footer{

 display: flex; 
 justify-content: center;
padding: 0 30px;
}

